{% extends 'base.html' %}
{% block head %}
	<h1>{% block title %}index{% endblock %}</h1>
{% endblock %}

{% block content %}  
	<div id="markdown-view">
		<textarea id="markdownView" style="display:none;">{{os_document}}</textarea>
	</div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
	<script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
    
	<script src="{{ url_for('static', filename='editormd/lib/raphael.min.js') }}"></script>
	<script src="{{ url_for('static', filename='editormd/lib/underscore.min.js') }}"></script>
	<script src="{{ url_for('static', filename='editormd/lib/sequence-diagram.min.js') }}"></script>
	<script src="{{ url_for('static', filename='editormd/lib/flowchart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='editormd/lib/jquery.flowchart.min.js') }}"></script>

	<script src="{{ url_for('static', filename='editormd/editormd.js') }}"></script>
    <script type="text/javascript">    
        var content = '###Hello, World'
          $("#markdown-view").html('<textarea id="markdownView" style="display:none;"></textarea>');
          $("#markdownView").val(content);//将需要转换的内容加到转换后展示容器的textarea隐藏标签中
          editormd.markdownToHTML("markdown-view", {
            htmlDecode: "style,script,iframe",
            emoji: true,
          });
    </script>
{% endblock %}  
